@page "/agones"
<h3>Agones Service</h3>

<p>Server (address:port): <input type="text" @bind="Input" /></p>
<p>
    <button @onclick="() => ConnectAsync()">Connect</button> 
    <button @onclick="() => AllocateAsync()">Allocate</button>
    <button @onclick="() => ReadyAsync()">Ready</button>
    <button @onclick="() => GetGameServerAsync()">GetGameServer</button>
    <button @onclick="() => ShutdownAsync()">Shutdown</button>
</p>
<p>Address: @Input</p>

<hr>

<p>Result: @Result</p>

<hr>

<pre class="yaml">@Detail</pre>