@page "/allocate"
<h3>Allocate</h3>

<p>Server (address:port): <input type="text" @bind="Input" /></p>
<p>Allocate API: <button @onclick="() => AllocateAsync()">Submit</button> </p>
<p>Manual Allocate: <button @onclick="() => ManualAllocateAsync()">Submit</button> </p>
<hr>
<p>Test Kubernetes Api: <button @onclick="() => TestKubernetesApiAsync()">Submit</button> </p>
<p>Admin Ops: <button @onclick="() => ClearAsync()">Clear</button> <button @onclick="() => ListAsync()">List</button></p>
<hr>
<p>Result: @Result</p>
<ul>
@foreach (var item in List)
{
    <li>@item</li>
}
</ul>
