@page "/allocate"
<h3>Allocate</h3>

<div class="flex-column">
    <div class="nav-item px-3">
        <input type="text" @bind="Input" />
        <div>
            <p><span class="oi oi-text" aria-hidden="true"></span> Server (address:port)</p>
        </div>
    </div>
    <div class="nav-item px-3">
        <button @onclick="() => AllocationApiAsync()"><span class="oi oi-check" aria-hidden="true"></span> Allocator Api</button>        
        <p>Use Agones Allocation API to allocate. Server Endpoint should be agones-allocator.agones-system.svc.cluster.local:8443 </p>
    </div>
    <div class="nav-item px-3">
        <button @onclick="() => AllocationBackendAsync()"><span class="oi oi-check" aria-hidden="true"></span> Allocator Backend</button>
        <p>Use Agones CRD to allocate through Kubernetes API. Server Endpoint should be GameServer you want allocate.</p>
    </div>
    <div class="nav-item px-3">
        <button @onclick="() => AllocationCrdAsync()"><span class="oi oi-check" aria-hidden="true"></span> Allocator Crd</button>
        <p>Use Agones CRD to allocate through Kubernetes API. Server Endpoint will ignore.</p>
    </div>
    <div class="nav-item px-3">
        <button @onclick="() => ManualAllocateAsync()"><span class="oi oi-check" aria-hidden="true"></span> Add Allocate Entry</button>
        <p>Not allocate. Just add server entry to database.</p>
    </div>
    <hr>
    <div class="nav-item px-3">
        <button @onclick="() => GetKubernetesApiAsync()"><span class="oi oi-home" aria-hidden="true"></span> Test Kubernetes Api</button>
        <p>Run Kubernetes API.</p>
    </div>
    <hr>
    <div class="nav-item px-3">
        <span class="oi oi-beaker" aria-hidden="true"></span> Admin Ops
        <button @onclick="() => ClearAsync()">Clear</button>
        <button @onclick="() => ListAsync()">List</button>
    </div>
</div>

<hr>

<p>Result: @Result</p>
<ul>
    @foreach (var item in List)
    {
        <li>@item</li>
    }
</ul>

<hr>

<p>Response: @Response</p>
