@page "/connect"
<h3>Connect</h3>
 
@if (_connected)
{
    <p>Host: @_host; Id: @_id</p>
    <ul>
        @foreach (var item in _log)
        {
            <li>@item</li>
        }
    </ul>
}
else
{
    <p>Connecting...</p>
}