name: build

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  schedule:
    - cron: 0 1 * * 1 # At AM10:00 JST on Monday

jobs:
  dotnet:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: guitarrapc/actions/.github/actions/setup-dotnet@main
      - name: build
        run: dotnet build -c Release
      # - name: test
      #   run: dotnet test -c Release
      - name: publish
        run: dotnet publish -c Release

  docker:
    strategy:
      matrix:
        project: ["BackendServer", "FrontendPage"]
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: lower
        id: image
        run: |
          echo "latest=guitarrapc/agonessample:${PROJECT,,}-latest" | tee -a "${GITHUB_OUTPUT}"
          echo "current=guitarrapc/agonessample:${PROJECT,,}-${{ github.run_id }}" | tee -a "${GITHUB_OUTPUT}"
        env:
          PROJECT: ${{ matrix.project }}
      - name: docker build
        run: |
          docker build -t "${{ steps.image.outputs.latest }}" -f "src/${{ matrix.project }}/Dockerfile" .
          docker tag "${{ steps.image.outputs.latest }}" "${{ steps.image.outputs.current }}"
